.header {
  @include adaptiveDesktopToMobile('height', 675, 570);
  background-image: url("../img/bg/header-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 30px;
  @include adaptiveDesktopToMobile('padding-top', 140, 80);

  @include viewport--1439 {
    background-size: auto 100%;
  }

  @include viewport--767 {
    background-size: cover;
    background-image: url("../img/bg/header-bg-mobile.png");
  }
}
.header__logo-wrapper {
  display: flex;
  align-items: center;
  @include adaptiveDesktopToMobile('width', 333, 260);
  @include adaptiveDesktopToMobile('height', 36, 28);
}
.header__logo {
  &--calendar {
    @include adaptiveDesktopToMobile('padding-right', 15, 10);
  }
  &--vk-project {

  }
}
.header__title {
  @include adaptiveDesktopToMobile('margin-top', 50, 85);
  max-width: 550px;
  font-weight: 500;
  @include adaptiveDesktopToMobile('font-size', 60, 28);
  line-height: 110%;
}
.header__description {
  @include adaptiveDesktopToMobile('margin-top', 30, 20);
  max-width: 500px;
  @include adaptiveDesktopToMobile('font-size', 18, 16);
  line-height: 135%;
  opacity: 0.6;
}
a.header__join-btn {
  @include adaptiveDesktopToMobile('margin-top', 40, 34);
  width: fit-content;
  padding: 20px 19px;
  font-weight: 400;
}