.container {
  width: 100%;
  max-width: 1124px;
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-blue;
  border-radius: 16.5517px;
  font-weight: 500;
  font-size: 21px;
  color: $color-default-white;
  transition: background 0.2s cubic-bezier(0.12, 0, 0.39, 0);

  &:hover {
    background: $color-blue-hover;
  }

  @include viewport--767 {
    width: 100%;
  }
}