@font-face {
  font-family: 'Mail Sans Roman';
  src: url('https://img.imgsmail.ru/hb/e.mail.ru/static/fonts/MailSansRoman/WOFF2/MailSansRoman-Medium.woff2') format('woff2'),
       url('https://img.imgsmail.ru/hb/e.mail.ru/static/fonts/MailSansRoman/WOFF2/MailSansRoman-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Mail Sans Roman';
  src: url('https://img.imgsmail.ru/hb/e.mail.ru/static/fonts/MailSansRoman/WOFF2/MailSansRoman-Regular.woff2') format('woff2'),
       url('https://img.imgsmail.ru/hb/e.mail.ru/static/fonts/MailSansRoman/WOFF/MailSansRoman-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mail Sans Roman';
  src: url('https://img.imgsmail.ru/hb/e.mail.ru/static/fonts/MailSansRoman/WOFF2/MailSansRoman-Light.woff2') format('woff2'),
       url('https://img.imgsmail.ru/hb/e.mail.ru/static/fonts/MailSansRoman/WOFF/MailSansRoman-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Mail Sans Roman';
  src: url('https://img.imgsmail.ru/hb/e.mail.ru/static/fonts/MailSansRoman/WOFF2/MailSansRoman-Bold.woff2') format('woff2'),
       url('https://img.imgsmail.ru/hb/e.mail.ru/static/fonts/MailSansRoman/WOFF/MailSansRoman-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}